table {
  width: 100%;
}

.cart-card {
  max-width: 400px;
}

.header-image-img {
  background-image: url('/');
  background-size: cover;
}

.card-header{
  background-color:  #ccc;
 
}

.card-title{
  color:  #002855;
  font-size: 35px;
}

.backColorTooltip {
  background-color: #b71c1c;
}